<div class="back-header1">
<div class="header">
  <div class="header-left">
    <div class="header-logo">
<img src="/assets/Frame.svg" alt="logo">
    </div>
    <nav class="header-nav">
    <div class="header-nav-item">Главная</div>
    <div class="header-nav-item">О компании</div>
    <div class="header-nav-item">Каталог</div>
  </nav>
  </div>
  <div class="header-right">
      <img src="/assets/Phone.svg" alt="phone">
    <a class="phone-number" href="tel:+79650842929">+7 (965) 084-29-29</a>
    <img class="heart" src="/assets/Vector.svg" alt="heart">
    <button class="buy-list">
      <img src="/assets/Mask group.svg" alt="">
      <span class="empty">Пусто</span>
    </button>
  </div>
</div></div>
<div class="back-header2">
<div class="header-2">
  <div class="header-left2"> 
    <div class="menu-catalog">
      <img src="/assets/light.svg" alt="">
      <div class="header-nav-item2-item">Каталог</div>
    </div>
    <nav class="header-nav-item2">
      <div class="header-nav-item2-item2">Стройматериалы</div>
      <div class="header-nav-item2-item2">Инструменты</div>
      <div class="header-nav-item2-item2">Электрика</div>
      <div class="header-nav-item2-item3">Интерьер и одежда</div>
    </nav>
  </div>
  <div class="header-right2">
    <form role="search" class="search-form">
<input type="search" class="search" placeholder="Поиск, например Круг зачистной">
    </form>
      <img class="map-pin" src="/assets/map-pin.svg" alt="">
      <button class="city" type="menu">Москва</button>
  </div>
</div></div>
<div><img src="/assets/баннер.png" alt="" style="width: 100%;"></div>

<div class="content-conteiner1">
  <div><img src="/assets/Frame 35.png" alt="" class="sub-bunner"></div>
  <div class="item-cards">
    <div class="item-cards__pagination">
      <button class="item-cards__pagination-button active-button">1</button>
      <button class="item-cards__pagination-button">2</button>
      <button class="item-cards__pagination-button">3</button>
      <button class="item-cards__pagination-button">4</button>
      <button class="item-cards__pagination-button">5</button></div>

    <div class="item-cards__grid">
      <div class="item-cards__grid-left">
        <div class="item-cards__grid-left-text">Строительный отделочный инстурмент</div>
      <a class="item-cards__grid-left-link">
        <span class="item-cards__grid-left-link-text">Перейти в каталог</span>
      <img src="/assets/Frame_20.svg" alt=""></a>
      </div>
      <div class="item-cards__grid-right">
        <div class="item-cards__grid-right-block">
          <div class="item-cards__grid-right-block1">
          <span class="block1-text">Эмали</span>
          <a class="block1-link"> 
            <span class="block1-link-text">Перейти в каталог</span>
      <img src="/assets/Frame_20.svg" alt="">
          </a>
        </div>
        </div>
        <div class="item-cards__grid-right-block">
          <div class="item-cards__grid-right-block2">
          <span class="block2-text">Лакокрасочные материалы</span>
          <a class="block2-link"> 
            <span class="block2-link-text">Перейти в каталог</span>
      <img src="/assets/Frame_20.svg" alt="">
          </a>
        </div>
        </div>
        <div class="item-cards__grid-right-block">
          <div class="item-cards__grid-right-block3">
            <span class="block3-text">Пены, клеи и герметики</span>
            <a class="block3-link"> 
              <span class="block3-link-text">Перейти в каталог</span>
        <img src="/assets/Frame_20.svg" alt="">
            </a>
          </div>
        </div>
        <div class="item-cards__grid-right-block">
          <div class="item-cards__grid-right-block4">
            <span class="block4-text">Розетки и выключатели</span>
            <a class="block4-link"> 
              <span class="block4-link-text">Перейти в каталог</span>
        <img src="/assets/Frame_20.svg" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="popular-sale">
  <div class="popular-sale__header">
    <span class="popular-sale__header-text">Популярные товары</span>
    <a class="popular-sale__header-link">Посмотреть все товары</a>
  </div>
  <div class="popular-sale__cards">
    <div class="popular-sale__cards1">
      <button class="cards1-scroll"></button>

      <div class="skidkinews">
      <img src="/assets/skidki.png" class="percent">
      <button class="smallheart">
        <img src="/assets/smallheart.svg" alt="">
      </button>
    </div>
    <div class="description">
      <span class="description-name">Круг зачистной 125х6х22</span>
      <span class="description-article">Артикул 00004</span>
      <div class="description-cost">
      <span class="description-price">Цена за штуку</span>
      <span class="description-cost1">52 руб.</span>
      <span class="description-cost2">48 руб.</span>
    </div>
    <div class="description-buy">
      <div class="description-amt">
        <span>Количество</span>
        <div class="amt1">
          <button class="descrease">-</button>
          <span class="qt">1</span>
          <button class="increase">+</button>
        </div>
      </div>
      <div class="description-basket">
        <button class="description-basket-but">В корзину</button>
      </div>
    </div>
    </div>
  </div>
    <div class="popular-sale__cards2">
      <div class="skidkinews">
        <img src="/assets/skidki.png" class="percent">
        <button class="smallheart">
          <img src="/assets/smallheart.svg" alt="">
        </button>
      </div>
      <div class="description">
        <span class="description-name">Круг зачистной 125х6х22</span>
        <span class="description-article">Артикул 00004</span>
        <div class="description-cost">
        <span class="description-price">Цена за штуку</span>
        <span class="description-cost1">52 руб.</span>
        <span class="description-cost2">48 руб.</span>
      </div>
      <div class="description-buy">
        <div class="description-amt">
          <span>Количество</span>
          <div class="amt1">
            <button class="descrease">-</button>
            <span class="qt">1</span>
            <button class="increase">+</button>
          </div>
        </div>
        <div class="description-basket">
          <button class="description-basket-but">В корзину</button>
        </div>
      </div>
    </div>
    </div>
    <div class="popular-sale__cards3">
      <div class="skidkinews">
        <div class="img-sale-position">
        <img src="/assets/novinka.png" class="novinki">
        <img src="/assets/skidki.png" class="percent">
      </div>
        <button class="smallheart">
          <img src="/assets/smallheart.svg" alt="">
        </button>
      </div>
      <div class="description">
        <span class="description-name">Круг зачистной 125х6х22</span>
        <span class="description-article">Артикул 00004</span>
        <div class="description-cost">
        <span class="description-price">Цена за штуку</span>
        <span class="description-cost1">52 руб.</span>
        <span class="description-cost2">48 руб.</span>
      </div>
      <div class="description-buy">
        <div class="description-amt">
          <span>Количество</span>
          <div class="amt1">
            <button class="descrease">-</button>
            <span class="qt">1</span>
            <button class="increase">+</button>
          </div>
        </div>
        <div class="description-basket">
          <button class="description-basket-but">В корзину</button>
        </div>
      </div>
    </div>
    </div>
    <div class="popular-sale__cards4">
      <button class="cards4-scroll"></button>
      <div class="skidkinews">
        <img src="/assets/novinka.png" class="novinki">
        <button class="smallheart">
          <img src="/assets/smallheart.svg" alt="">
        </button>
      </div>
      <div class="description">
        <span class="description-name">Круг зачистной 125х6х22</span>
        <span class="description-article">Артикул 00004</span>
        <div class="description-cost">
        <span class="description-price">Цена за штуку</span>
        <span class="description-cost2">52 руб.</span>
      </div>
      <div class="description-buy">
        <div class="description-amt">
          <span>Количество</span>
          <div class="amt1">
            <button class="descrease">-</button>
            <span class="qt">1</span>
            <button class="increase">+</button>
          </div>
        </div>
        <div class="description-basket">
          <button class="description-basket-but">В корзину</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
<img class="banner10000" src="/assets/banner10000.png">
<div class="popular-sale2">
  <div class="popular-sale__header">
    <span class="popular-sale__header-text">Новинки</span>
    <a class="popular-sale__header-link">Посмотреть все товары</a>
  </div>
  <div class="popular-sale__cards">
    <div class="popular-sale__cards1">
      <button class="cards1-scroll"></button>
      <div class="skidkinews">
      <img src="/assets/novinka.png" class="novinki">
      <button class="smallheart">
        <img src="/assets/smallheart.svg" alt="">
      </button>
    </div>
    <div class="description">
      <span class="description-name">Круг зачистной 125х6х22</span>
      <span class="description-article">Артикул 00004</span>
      <div class="description-cost">
      <span class="description-price">Цена за штуку</span>
      <span class="description-cost2">52 руб.</span>
    </div>
    <div class="description-buy">
      <div class="description-amt">
        <span>Количество</span>
        <div class="amt1">
          <button class="descrease">-</button>
          <span class="qt">1</span>
          <button class="increase">+</button>
        </div>
      </div>
      <div class="description-basket">
        <button class="description-basket-but">В корзину</button>
      </div>
    </div>
    </div>
  </div>
    <div class="popular-sale__cards2">
      <div class="skidkinews">
        <img src="/assets/novinka.png" class="novinki">
        <button class="smallheart">
          <img src="/assets/smallheart.svg" alt="">
        </button>
      </div>
      <div class="description">
        <span class="description-name">Круг зачистной 125х6х22</span>
        <span class="description-article">Артикул 00004</span>
        <div class="description-cost">
        <span class="description-price">Цена за штуку</span>
        <span class="description-cost2">52 руб.</span>
      </div>
      <div class="description-buy">
        <div class="description-amt">
          <span>Количество</span>
          <div class="amt1">
            <button class="descrease">-</button>
            <span class="qt">1</span>
            <button class="increase">+</button>
          </div>
        </div>
        <div class="description-basket">
          <button class="description-basket-but">В корзину</button>
        </div>
      </div>
    </div>
    </div>
    <div class="popular-sale__cards3">
      <div class="skidkinews">
        <div class="img-sale-position">
        <img src="/assets/novinka.png" class="novinki">
      </div>
        <button class="smallheart">
          <img src="/assets/smallheart.svg" alt="">
        </button>
      </div>
      <div class="description">
        <span class="description-name">Круг зачистной 125х6х22</span>
        <span class="description-article">Артикул 00004</span>
        <div class="description-cost">
        <span class="description-price">Цена за штуку</span>
        <span class="description-cost2">52 руб.</span>
      </div>
      <div class="description-buy">
        <div class="description-amt">
          <span>Количество</span>
          <div class="amt1">
            <button class="descrease">-</button>
            <span class="qt">1</span>
            <button class="increase">+</button>
          </div>
        </div>
        <div class="description-basket">
          <button class="description-basket-but">В корзину</button>
        </div>
      </div>
    </div>
    </div>
    <div class="popular-sale__cards4">
      <button class="cards4-scroll"></button>
      <div class="skidkinews">
        <img src="/assets/novinka.png" class="novinki">
        <button class="smallheart">
          <img src="/assets/smallheart.svg" alt="">
        </button>
      </div>
      <div class="description">
        <span class="description-name">Круг зачистной 125х6х22</span>
        <span class="description-article">Артикул 00004</span>
        <div class="description-cost">
        <span class="description-price">Цена за штуку</span>
        <span class="description-cost2">52 руб.</span>
      </div>
      <div class="description-buy">
        <div class="description-amt">
          <span>Количество</span>
          <div class="amt1">
            <button class="descrease">-</button>
            <span class="qt">1</span>
            <button class="increase">+</button>
          </div>
        </div>
        <div class="description-basket">
          <button class="description-basket-but">В корзину</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</div>
<div class="end-header">
  <div class="content-conteiner1">
    <div class="end-header-top">
    <div class="end-header-left">
      <img src="/assets/Frame.svg" style="padding: 34px 0;">
      <div class="contacts">
        <div class="contacts-phone">
          <img class="contacts-phone-img" src="/assets/phoneend.svg" alt="">
          <div class="contacts-phone-size">
          <span class="contacts-phone-text">Контактный телефон</span>
          <a class="contacts-phone-num1" href="tel:+78123090934">+ 7 (812) 309-09-34</a>
          <a class="contacts-phone-num2" href="tel:+79650842929">+ 7 (965) 084-29-09</a>
    </div>
  </div>
        <div class="contacts-mail">
          <img class="contacts-mail-img" src="/assets/mailend.svg" alt="">
          <div class="contacts-mail-size">
            <span class="contacts-mail-text">Электронная почта</span>
            <a class="contacts-mail-num1" href="mailto:tustin78@mail.ru">tustin78&#64;mail.ru</a>
            <a class="contacts-mail-num2" href="mailto:info@tustin.ru">info&#64;tustin.ru</a>
      </div>
        </div>
      </div>
    </div>
    <div class="end-header-right">
      <div class="end-header-right-contentsize">
        <span class="feedback-ask">Остались вопросы?</span>
        <span class="feedback-text">Узнавайте первым о скидках, предложениях и событиях еженедельно в своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.</span>
        <div class="feedback-formail">
          <form class="feedback-formmail">
          <input type="text" class="feedback-mail" placeholder="Введите свою почту" style="padding-left: 60px;">
          <button type="submit" class="feedback-butmail">Отправить</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
<div class="content-conteiner1"> 
<div class="end-header-botline">
    <div class="end-header-bott">
      <div class="end-header-botnav">
        <div class="end-header-botnav-item">Главная</div>
        <div class="end-header-botnav-item">О компании</div>
        <div class="end-header-botnav-item">Каталог</div>
      </div>
        <div class="end-header-botend">
          <div class="end-header-botsocial">
          <button class="end-header-botsocial-f"></button>
          <button class="end-header-botsocial-y"></button>
          <button class="end-header-botsocial-w"></button>
        </div>
        <span class="end-header-botyears">☪ 2021-2022, EDE</span>
      </div>
        
    </div>
  </div> 
</div>
</div>
